/*
colors used are:

#FFFFFF
#8AA9C1
#507EA2
#336993
#245E8B
#1D5987
#195685
#175584

*/

body {
    background-color: #001B33;
    color: #FFFFFF;
}
#outerdocbody {
    background-color: #001B33;
}
#innerdocbody {
    background-color: #001B33;
}
#sidediv {
    background-color: #111111;
}
.sidedivdelayed {
    color: #8AA9C1 !important;
}
.toolbar {
    background-color: #1D5987;
}
/* extracted from pad.css */

#users {
    background: #1D5987;
    background: -webkit-linear-gradient(#336993, #245E8B);
    background: -moz-linear-gradient(#336993, #245E8B);
    background: -ms-linear-gradient(#336993, #245E8B);
    background: -o-linear-gradient(#336993, #245E8B);
    background: linear-gradient(#336993, #245E8B);
    color: #FFFFFF;
    border: 1px solid #336993;
}
.toolbar {
    background: #1D5987;
    background: -webkit-linear-gradient(#336993, #001B33 80%);
    background: -moz-linear-gradient(#336993, #001B33 80%);
    background: -o-linear-gradient(#336993, #001B33 80%);
    background: -ms-linear-gradient(#336993, #001B33 80%);
    background: linear-gradient(#336993, #001B33 80%);
    border-bottom: 1px solid #001B33;
}
#usericon a #online_count {
    color: #245E8B;
}
#editorloadingbox {
    color: #336993;
}
#myswatchbox {
    border: 1px solid #175584;
}
#mycolorpicker {
    background: #8AA9C1;
    border: 1px solid #507EA2;
}
#mycolorpickersave,
#mycolorpickercancel {
    background: #336993;
    background: -webkit-linear-gradient(#507EA2, #336993);
    background: -moz-linear-gradient(#507EA2, #336993);
    background: -o-linear-gradient(#507EA2, #336993);
    background: -ms-linear-gradient(#507EA2, #336993);
    background: linear-gradient(#507EA2, #336993);
    border: 1px solid #507EA2;
    color: #FFFFFF;
}
#mycolorpickerpreview {
    color: #FFFFFF;
}
#myusernameedit {
    color: #FFFFFF;
}
#myusernameform input.editable {
    border: 1px solid #1D5987
}
#myuser .myusernameedithoverable {
    background: #175584;
    color: #FFFFFF;
}
#myuser .myusernameedithoverable:hover {
    background: #FFFFFF;
    color: #175584;
}
#mystatusedit {
    color: #245E8B;
    border: 1px solid #507EA2;
}
#myusernameform .editactive,
#myusernameform .editempty {
    border-left: 1px solid #507EA2;
    border-top: 1px solid #507EA2;
    border-right: 1px solid #245E8B;
    border-bottom: 1px solid #245E8B;
    color: #175584;
}
#myusernameform .editempty {
    background: #FFFFFF;
    color: #195685
}
#myswatchbox,
#myusernameedit,
#otheruserstable .swatch {
    border: 1px solid #1D5987 !important;
    color: #195685;
}
#nootherusers {
    color: #245E8B;
}
#nootherusers a {
    color: #245E8B
}
#otheruserstable td {
    color: #FFFFFF;
}
#otheruserstable .swatch {
    border: 1px solid #175584;
}
.usertdname {
    color: #1D5987;
}
.usertdstatus {
    color: #336993;
}
.usertdactivity {
    color: #245E8B;
}
.usertdname input {
    border: 1px solid #507EA2;
}
.usertdname input.editactive,
.usertdname input.editempty {
    background: #FFFFFF;
    border-left: 1px solid #507EA2;
    border-top: 1px solid #507EA2;
    border-right: 1px solid #245E8B;
    border-bottom: 1px solid #245E8B;
}
.usertdname input.editempty {
    color: #245E8B;
}
#chatbox {
    background-color: #8AA9C1;
    border-left: 1px solid #336993;
    border-right: 1px solid #336993;
    border-top: 1px solid #336993;
}
#chattext {
    background-color: #245E8B;
    border: 1px solid #245E8B;
    color: #FFFFFF;
}
#chatlabel {
    color: #1D5987;
}
#chatinput {
    border: 1px solid #507EA2;
}
#chaticon {
    border-left: 1px solid #336993;
    border-right: 1px solid #336993;
    border-top: 1px solid #336993;
    background-color: #FFFFFF;
}
#chatcounter {
    color: #245E8B;
}
#titlebar {
    color: #1D5987;
}
#titlesticky {
    color: #1D5987;
}
#titlecross {
    color: #1D5987;
}
.time {
    color: #195685;
}
.exporttype {
    color: #8AA9C1;
}
#importmessageabiword {
    color: #336993;
}
#chatthrob {
    background-color: #175584;
    color: #FFFFFF;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.7);
}
#focusprotector {
    background-color: #FFFFFF;
}
#online_count {
    color: #245E8B;
}
.popup {
    border: 1px solid #245E8B;
    background: #1D5987;
    background: -webkit-linear-gradient(#507EA2, #336993);
    background: -moz-linear-gradient(#507EA2, #336993);
    background: -ms-linear-gradient(#507EA2, #336993);
    background: -o-linear-gradient(#507EA2, #336993);
    background: linear-gradient(#507EA2, #336993);
    /* -webkit-box-shadow: 0 0 8px #245E8B;
  -moz-box-shadow: 0 0 8px #245E8B;*/
    box-shadow: 0 2px 2px 4px #1D5987;
    color: #FFFFFF;
}
.popup h1 {
    color: #8AA9C1;
}
.popup h2 {
    color: #8AA9C1;
}
.stickyChat {
    background-color: #336993 !important;
    border-left: 1px solid #507EA2 !important;
}
@media all and (max-width: 400px) {
    #gritter-notice-wrapper {
        background-color: #507EA2;
        color: #175584;
    }
    .gritter-item p {
        color: #175584;
    }
    .gritter-title {
        color: #175584;
    }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 720px) {
    .toolbar ul.menu_right {
        background: #245E8B;
        background: -webkit-linear-gradient(#245E8B, #336993 80%);
        background: -moz-linear-gradient(#245E8B, #336993 80%);
        background: -o-linear-gradient(#245E8B, #336993 80%);
        background: -ms-linear-gradient(#245E8B, #336993 80%);
        background: linear-gradient(#245E8B, #336993 80%);
        border-top: 1px solid #245E8B;
    }
}
.gritter-item {
    color: #FFFFFF;
}
.gritter-title {
    text-shadow: 1px 1px 0 #175584;
    /* Not supported by IE :( */
}
.gritter-close {
    color: #195685;
}
.activeButton {
    background: #245E8B;
    background: -webkit-linear-gradient(#245E8B, #336993);
    background: -moz-linear-gradient(#245E8B, #336993);
    background: -o-linear-gradient(#245E8B, #336993);
    background: -ms-linear-gradient(#245E8B, #336993);
    background: linear-gradient(#245E8B, #336993);
}
#status {
    color: #FFFFFF;
    background-color: #440000;
    font-size: 2em;
}
.line {
    color: #ff7d27;
}
.term {
    color: #FF9D00;
}
a:link {
    color: #8AA9C1;
}
a:hover {
    color: #FFFFFF;
    background: #000000;
}
UL.jqueryFileTree A {
    color: #8AA9C1;
}
UL.jqueryFileTree A:hover {
    color: #FFFFFF;
    background: #000000;
}
/*
colors used are:

#FFFFFF
#8AA9C1
#507EA2
#336993
#245E8B
#1D5987
#195685
#175584

*/