
/*
colors used are:

#DCFAE6
#5F8B6C
#356644
#275A36
#235632
#215430
#215430
#215430

*/

body {

    background-color: #163820;

    color: #FFFFFF;

}

#outerdocbody {

    background-color: #163820;

}

#innerdocbody {

    background-color: #163820;

}

#sidediv {

    background-color: #215430;

}

.sidedivdelayed {

    color: #5F8B6C !important;

}

.toolbar {

    background-color: #215430;

}

/* extracted from pad.css */

#users {

    background: #215430;

    background: -webkit-linear-gradient(#275A36, #235632);

    background: -moz-linear-gradient(#275A36, #235632);

    background: -ms-linear-gradient(#275A36, #235632);

    background: -o-linear-gradient(#275A36, #235632);

    background: linear-gradient(#275A36, #235632);

    color: #DCFAE6;

    border: 1px solid #275A36;

}

.toolbar {

    background: #215430;

    background: -webkit-linear-gradient(#275A36, #163820 80%);

    background: -moz-linear-gradient(#275A36, #163820 80%);

    background: -o-linear-gradient(#275A36, #163820 80%);

    background: -ms-linear-gradient(#275A36, #163820 80%);

    background: linear-gradient(#275A36, #163820 80%);

    border-bottom: 1px solid #163820;

}

#usericon a #online_count {

    color: #235632;

}

#editorloadingbox {

    color: #275A36;

}

#myswatchbox {

    border: 1px solid #215430;

}

#mycolorpicker {

    background: #5F8B6C;

    border: 1px solid #356644;

}

#mycolorpickersave,

#mycolorpickercancel {

    background: #275A36;

    background: -webkit-linear-gradient(#356644, #275A36);

    background: -moz-linear-gradient(#356644, #275A36);

    background: -o-linear-gradient(#356644, #275A36);

    background: -ms-linear-gradient(#356644, #275A36);

    background: linear-gradient(#356644, #275A36);

    border: 1px solid #356644;

    color: #DCFAE6;

}

#mycolorpickerpreview {

    color: #DCFAE6;

}

#myusernameedit {

    color: #DCFAE6;

}

#myusernameform input.editable {

    border: 1px solid #215430

}

#myuser .myusernameedithoverable:hover {

    background: #DCFAE6;

    color: #215430;

}

#mystatusedit {

    color: #235632;

    border: 1px solid #356644;

}

#myusernameform .editactive,

#myusernameform .editempty {

    border-left: 1px solid #356644;

    border-top: 1px solid #356644;

    border-right: 1px solid #235632;

    border-bottom: 1px solid #235632;

    color: #215430;

}

#myusernameform .editempty {

    background: #DCFAE6;

    color: #215430

}

#myswatchbox,

#myusernameedit,

#otheruserstable .swatch {

    border: 1px solid #215430 !important;

    color: #215430;

}

#nootherusers {

    color: #235632;

}

#nootherusers a {

    color: #235632

}

#otheruserstable td {

    color: #215430;

}

#otheruserstable .swatch {

    border: 1px solid #215430;

}

.usertdname {

    color: #215430;

}

.usertdstatus {

    color: #275A36;

}

.usertdactivity {

    color: #235632;

}

.usertdname input {

    border: 1px solid #356644;

}

.usertdname input.editactive,

.usertdname input.editempty {

    background: #DCFAE6;

    border-left: 1px solid #356644;

    border-top: 1px solid #356644;

    border-right: 1px solid #235632;

    border-bottom: 1px solid #235632;

}

.usertdname input.editempty {

    color: #235632;

}

#chatbox {

    background-color: #5F8B6C;

    border-left: 1px solid #275A36;

    border-right: 1px solid #275A36;

    border-top: 1px solid #275A36;

}

#chattext {

    background-color: #235632;

    border: 1px solid #235632;

    color: #DCFAE6;

}

#chatlabel {

    color: #215430;

}

#chatinput {

    border: 1px solid #356644;

}

#chaticon {

    border-left: 1px solid #275A36;

    border-right: 1px solid #275A36;

    border-top: 1px solid #275A36;

    background-color: #DCFAE6;

}

#chatcounter {

    color: #235632;

}

#titlebar {

    color: #215430;

}

#titlesticky {

    color: #215430;

}

#titlecross {

    color: #215430;

}

.time {

    color: #215430;

}

.exporttype {

    color: #215430;

}

#importmessageabiword {

    color: #275A36;

}

#chatthrob {

    background-color: #215430;

    color: #DCFAE6;

    background-color: rgb(0, 0, 0);

    background-color: rgba(0, 0, 0, 0.7);

}

#focusprotector {

    background-color: #DCFAE6;

}

#online_count {

    color: #235632;

}

.popup {

    border: 1px solid #235632;

    background: #215430;

    background: -webkit-linear-gradient(#356644, #275A36);

    background: -moz-linear-gradient(#356644, #275A36);

    background: -ms-linear-gradient(#356644, #275A36);

    background: -o-linear-gradient(#356644, #275A36);

    background: linear-gradient(#356644, #275A36);

    -webkit-box-shadow: 0 0 8px #235632;

    -moz-box-shadow: 0 0 8px #235632;

    box-shadow: 0 2px 4px #215430;

    color: #DCFAE6;

}

.popup h1 {

    color: #5F8B6C;

}

.popup h2 {

    color: #5F8B6C;

}

.stickyChat {

    background-color: #275A36 !important;

    border-left: 1px solid #356644 !important;

}

@media all and (max-width: 400px) {

    #gritter-notice-wrapper {

        background-color: #356644;

        color: #215430;

    }

    .gritter-item p {

        color: #215430;

    }

    .gritter-title {

        color: #215430;

    }

}

@media only screen and (min-device-width: 320px) and (max-device-width: 720px) {

    .toolbar ul.menu_right {

        background: #235632;

        background: -webkit-linear-gradient(#235632, #275A36 80%);

        background: -moz-linear-gradient(#235632, #275A36 80%);

        background: -o-linear-gradient(#235632, #275A36 80%);

        background: -ms-linear-gradient(#235632, #275A36 80%);

        background: linear-gradient(#235632, #275A36 80%);

        border-top: 1px solid #235632;

    }

}

.gritter-item {

    color: #235632;

}

.gritter-title {

    text-shadow: 1px 1px 0 #215430;

    /* Not supported by IE :( */

}

.gritter-close {

    color: #215430;

}

.activeButton {

    background: #235632;

    background: -webkit-linear-gradient(#235632, #275A36);

    background: -moz-linear-gradient(#235632, #275A36);

    background: -o-linear-gradient(#235632, #275A36);

    background: -ms-linear-gradient(#235632, #275A36);

    background: linear-gradient(#235632, #275A36);

}

#status {

    color: #FFFFFF;

    background-color: #440000;

    font-size: 2em;

}

UL.jqueryFileTree A {

    color: #DCDCE6;

}

UL.jqueryFileTree A:hover {

    color: #FFFFFF;

    background: #000000;

}