/*
colors used are:

#DCDCFE
#7882A7
#46557B
#2D3E65
#20335A
#1A2D55
#172A52
#152951

*/

body {
    background-color: #0F192a;
    color: #DCDCFE;
}
#outerdocbody {
    background-color: #0F192a;
}
#innerdocbody {
    background-color: #0F192a;
}
#sidediv {
    background-color: #172A52;
}
.sidedivdelayed {
    color: #7882A7 !important;
}
.toolbar {
    background-color: #1A2D55;
}
/* extracted from pad.css */

#users {
    background: #1A2D55;
    background: -webkit-linear-gradient(#2D3E65, #20335A);
    background: -moz-linear-gradient(#2D3E65, #20335A);
    background: -ms-linear-gradient(#2D3E65, #20335A);
    background: -o-linear-gradient(#2D3E65, #20335A);
    background: linear-gradient(#2D3E65, #20335A);
    color: #DCDCFE;
    border: 1px solid #2D3E65;
}
.toolbar {
    background: #1A2D55;
    background: -webkit-linear-gradient(#2D3E65, #20335A 80%);
    background: -moz-linear-gradient(#2D3E65, #20335A 80%);
    background: -o-linear-gradient(#2D3E65, #20335A 80%);
    background: -ms-linear-gradient(#2D3E65, #20335A 80%);
    background: linear-gradient(#2D3E65, #20335A 80%);
    border-bottom: 1px solid #2D3E65;
}
#usericon a #online_count {
    color: #20335A;
}
#editorloadingbox {
    color: #2D3E65;
}
#myswatchbox {
    border: 1px solid #152951;
}
#mycolorpicker {
    background: #7882A7;
    border: 1px solid #46557B;
}
#mycolorpickersave,
#mycolorpickercancel {
    background: #2D3E65;
    background: -webkit-linear-gradient(#46557B, #2D3E65);
    background: -moz-linear-gradient(#46557B, #2D3E65);
    background: -o-linear-gradient(#46557B, #2D3E65);
    background: -ms-linear-gradient(#46557B, #2D3E65);
    background: linear-gradient(#46557B, #2D3E65);
    border: 1px solid #46557B;
    color: #DCDCFE;
}
#mycolorpickerpreview {
    color: #DCDCFE;
}
#myusernameedit {
    color: #DCDCFE;
}
#myusernameform input.editable {
    border: 1px solid #1A2D55
}
#myuser .myusernameedithoverable {
    background: #152951;
    color: #DCDCFE;
}
#myuser .myusernameedithoverable:hover {
    background: #DCDCFE;
    color: #152951;
}
#mystatusedit {
    color: #20335A;
    border: 1px solid #46557B;
}
#myusernameform .editactive,
#myusernameform .editempty {
    border-left: 1px solid #46557B;
    border-top: 1px solid #46557B;
    border-right: 1px solid #20335A;
    border-bottom: 1px solid #20335A;
    color: #152951;
}
#myusernameform .editempty {
    background: #DCDCFE;
    color: #172A52
}
#myswatchbox,
#myusernameedit,
#otheruserstable .swatch {
    border: 1px solid #1A2D55 !important;
    color: #172A52;
}
#nootherusers {
    color: #20335A;
}
#nootherusers a {
    color: #20335A
}
#otheruserstable td {
    color: #FFFFFF;
}
#otheruserstable .swatch {
    border: 1px solid #152951;
}
.usertdname {
    color: #1A2D55;
}
.usertdstatus {
    color: #2D3E65;
}
.usertdactivity {
    color: #20335A;
}
.usertdname input {
    border: 1px solid #46557B;
}
.usertdname input.editactive,
.usertdname input.editempty {
    background: #DCDCFE;
    border-left: 1px solid #46557B;
    border-top: 1px solid #46557B;
    border-right: 1px solid #20335A;
    border-bottom: 1px solid #20335A;
}
.usertdname input.editempty {
    color: #20335A;
}
#chatbox {
    background-color: #7882A7;
    border-left: 1px solid #2D3E65;
    border-right: 1px solid #2D3E65;
    border-top: 1px solid #2D3E65;
}
#chattext {
    background-color: #20335A;
    border: 1px solid #20335A;
    color: #DCDCFE;
}
#chatlabel {
    color: #1A2D55;
}
#chatinput {
    border: 1px solid #46557B;
}
#chaticon {
    border-left: 1px solid #2D3E65;
    border-right: 1px solid #2D3E65;
    border-top: 1px solid #2D3E65;
    background-color: #DCDCFE;
}
#chatcounter {
    color: #20335A;
}
#titlebar {
    color: #1A2D55;
}
#titlesticky {
    color: #1A2D55;
}
#titlecross {
    color: #1A2D55;
}
.time {
    color: #172A52;
}
.exporttype {
    color: #DCDCFE;
}
#importmessageabiword {
    color: #2D3E65;
}
#chatthrob {
    background-color: #152951;
    color: #DCDCFE;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.7);
}
#focusprotector {
    background-color: #DCDCFE;
}
#online_count {
    color: #20335A;
}
.popup {
    border: 1px solid #20335A;
    background: #1A2D55;
    background: -webkit-linear-gradient(#46557B, #2D3E65);
    background: -moz-linear-gradient(#46557B, #2D3E65);
    background: -ms-linear-gradient(#46557B, #2D3E65);
    background: -o-linear-gradient(#46557B, #2D3E65);
    background: linear-gradient(#46557B, #2D3E65);
    -webkit-box-shadow: 0 0 8px #20335A;
    -moz-box-shadow: 0 0 8px #20335A;
    box-shadow: 0 2px 4px #1A2D55;
    color: #DCDCFE;
}
.popup h1 {
    color: #7882A7;
}
.popup h2 {
    color: #7882A7;
}
.stickyChat {
    background-color: #2D3E65 !important;
    border-left: 1px solid #46557B !important;
}
@media all and (max-width: 400px) {
    #gritter-notice-wrapper {
        background-color: #46557B;
        color: #152951;
    }
    .gritter-item p {
        color: #152951;
    }
    .gritter-title {
        color: #152951;
    }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 720px) {
    .toolbar ul.menu_right {
        background: #20335A;
        background: -webkit-linear-gradient(#20335A, #2D3E65 80%);
        background: -moz-linear-gradient(#20335A, #2D3E65 80%);
        background: -o-linear-gradient(#20335A, #2D3E65 80%);
        background: -ms-linear-gradient(#20335A, #2D3E65 80%);
        background: linear-gradient(#20335A, #2D3E65 80%);
        border-top: 1px solid #20335A;
    }
}
.gritter-item {
    color: #DCDCFE;
}
.gritter-title {
    text-shadow: 1px 1px 0 #152951;
    /* Not supported by IE :( */
}
.gritter-close {
    color: #172A52;
}
.activeButton {
    background: #20335A;
    background: -webkit-linear-gradient(#20335A, #2D3E65);
    background: -moz-linear-gradient(#20335A, #2D3E65);
    background: -o-linear-gradient(#20335A, #2D3E65);
    background: -ms-linear-gradient(#20335A, #2D3E65);
    background: linear-gradient(#20335A, #2D3E65);
}
#status {
    color: #FFFFFF;
    background-color: #440000;
    font-size: 2em;
}
UL.jqueryFileTree A {
    color: #C8FEC8;
}
UL.jqueryFileTree A:hover {
    color: #EEEEEE;
    background: #10232A;
}