/*
colors used are:

#C8C8C8
#6E5654
#50302E
#462421
#43201D
#421E1B
#421E1B
#421E1B

*/

body {
    background-color: #2C1412;
    color: #C8C8C8;
}
#outerdocbody {
    background-color: #2C1412;
}
#innerdocbody {
    background-color: #2C1412;
}
#sidediv {
    background-color: #421E1B;
}
.sidedivdelayed {
    color: #6E5654 !important;
}
.toolbar {
    background-color: #421E1B;
}
/* extracted from pad.css */

#users {
    background: #421E1B;
    background: -webkit-linear-gradient(#462421, #43201D);
    background: -moz-linear-gradient(#462421, #43201D);
    background: -ms-linear-gradient(#462421, #43201D);
    background: -o-linear-gradient(#462421, #43201D);
    background: linear-gradient(#462421, #43201D);
    color: #C8C8C8;
    border: 1px solid #462421;
}
.toolbar {
    background: #421E1B;
    background: -webkit-linear-gradient(#462421, #2C1412 80%);
    background: -moz-linear-gradient(#462421, #2C1412 80%);
    background: -o-linear-gradient(#462421, #2C1412 80%);
    background: -ms-linear-gradient(#462421, #2C1412 80%);
    background: linear-gradient(#462421, #2C1412 80%);
    border-bottom: 1px solid #2C1412;
}
#usericon a #online_count {
    color: #43201D;
}
#editorloadingbox {
    color: #462421;
}
#myswatchbox {
    border: 1px solid #421E1B;
}
#mycolorpicker {
    background: #6E5654;
    border: 1px solid #50302E;
}
#mycolorpickersave,
#mycolorpickercancel {
    background: #462421;
    background: -webkit-linear-gradient(#50302E, #462421);
    background: -moz-linear-gradient(#50302E, #462421);
    background: -o-linear-gradient(#50302E, #462421);
    background: -ms-linear-gradient(#50302E, #462421);
    background: linear-gradient(#50302E, #462421);
    border: 1px solid #50302E;
    color: #C8C8C8;
}
#mycolorpickerpreview {
    color: #C8C8C8;
}
#myusernameedit {
    color: #C8C8C8;
}
#myusernameform input.editable {
    border: 1px solid #421E1B
}
#myuser .myusernameedithoverable {
    background: #421E1B;
    color: #C8C8C8;
}
#myuser .myusernameedithoverable:hover {
    background: #C8C8C8;
    color: #421E1B;
}
#mystatusedit {
    color: #43201D;
    border: 1px solid #50302E;
}
#myusernameform .editactive,
#myusernameform .editempty {
    border-left: 1px solid #50302E;
    border-top: 1px solid #50302E;
    border-right: 1px solid #43201D;
    border-bottom: 1px solid #43201D;
    color: #421E1B;
}
#myusernameform .editempty {
    background: #C8C8C8;
    color: #421E1B
}
#myswatchbox,
#myusernameedit,
#otheruserstable .swatch {
    border: 1px solid #421E1B !important;
    color: #421E1B;
}
#nootherusers {
    color: #43201D;
}
#nootherusers a {
    color: #43201D
}
#otheruserstable td {
    color: #FFFFFF;
}
#otheruserstable .swatch {
    border: 1px solid #421E1B;
}
.usertdname {
    color: #421E1B;
}
.usertdstatus {
    color: #462421;
}
.usertdactivity {
    color: #43201D;
}
.usertdname input {
    border: 1px solid #50302E;
}
.usertdname input.editactive,
.usertdname input.editempty {
    background: #C8C8C8;
    border-left: 1px solid #50302E;
    border-top: 1px solid #50302E;
    border-right: 1px solid #43201D;
    border-bottom: 1px solid #43201D;
}
.usertdname input.editempty {
    color: #43201D;
}
#chatbox {
    background-color: #6E5654;
    border-left: 1px solid #462421;
    border-right: 1px solid #462421;
    border-top: 1px solid #462421;
}
#chattext {
    background-color: #43201D;
    border: 1px solid #43201D;
    color: #C8C8C8;
}
#chatlabel {
    color: #421E1B;
}
#chatinput {
    border: 1px solid #50302E;
}
#chaticon {
    border-left: 1px solid #462421;
    border-right: 1px solid #462421;
    border-top: 1px solid #462421;
    background-color: #C8C8C8;
}
#chatcounter {
    color: #43201D;
}
#titlebar {
    color: #421E1B;
}
#titlesticky {
    color: #421E1B;
}
#titlecross {
    color: #421E1B;
}
.time {
    color: #421E1B;
}
.exporttype {
    color: #C8C8C8;
}
#importmessageabiword {
    color: #462421;
}
#chatthrob {
    background-color: #421E1B;
    color: #C8C8C8;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.7);
}
#focusprotector {
    background-color: #C8C8C8;
}
#online_count {
    color: #43201D;
}
.popup {
    border: 1px solid #43201D;
    background: #421E1B;
    background: -webkit-linear-gradient(#50302E, #462421);
    background: -moz-linear-gradient(#50302E, #462421);
    background: -ms-linear-gradient(#50302E, #462421);
    background: -o-linear-gradient(#50302E, #462421);
    background: linear-gradient(#50302E, #462421);
    -webkit-box-shadow: 0 0 8px #43201D;
    -moz-box-shadow: 0 0 8px #43201D;
    box-shadow: 0 2px 4px #421E1B;
    color: #C8C8C8;
}
.popup h1 {
    color: #6E5654;
}
.popup h2 {
    color: #6E5654;
}
.stickyChat {
    background-color: #462421 !important;
    border-left: 1px solid #50302E !important;
}
@media all and (max-width: 400px) {
    #gritter-notice-wrapper {
        background-color: #50302E;
        color: #421E1B;
    }
    .gritter-item p {
        color: #421E1B;
    }
    .gritter-title {
        color: #421E1B;
    }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 720px) {
    .toolbar ul.menu_right {
        background: #43201D;
        background: -webkit-linear-gradient(#43201D, #462421 80%);
        background: -moz-linear-gradient(#43201D, #462421 80%);
        background: -o-linear-gradient(#43201D, #462421 80%);
        background: -ms-linear-gradient(#43201D, #462421 80%);
        background: linear-gradient(#43201D, #462421 80%);
        border-top: 1px solid #43201D;
    }
}
.gritter-item {
    color: #FFFFFF;
}
.gritter-title {
    text-shadow: 1px 1px 0 #421E1B;
    /* Not supported by IE :( */
}
.gritter-close {
    color: #421E1B;
}
.activeButton {
    background: #43201D;
    background: -webkit-linear-gradient(#43201D, #462421);
    background: -moz-linear-gradient(#43201D, #462421);
    background: -o-linear-gradient(#43201D, #462421);
    background: -ms-linear-gradient(#43201D, #462421);
    background: linear-gradient(#43201D, #462421);
}
#status {
    color: #FFFFFF;
    background-color: #440000;
    font-size: 2em;
}
.line {
    color: #C7C09F;
}
.term {
    color: #C2AFC6;
}
a:link {
    color: #C8C8FF;
}
a:hover {
    color: #FFFFFF;
    background: #000000;
}
UL.jqueryFileTree A {
    color: #C8C8C8;
}
UL.jqueryFileTree A:hover {
    color: #FFFFFF;
    background: #000000;
}
/*
colors used are:

#C8C8C8
#6E5654
#50302E
#462421
#43201D
#421E1B
#421E1B
#421E1B

*/