.buttonicon-codepad_buttons_read:before {
    content: "\f0aa";
    font-family: FontAwesome;
    color: #666;
    font-size: 14px;
}
.buttonicon-codepad_buttons_write:before {
    content: "\f0ab";
    font-family: FontAwesome;
    color: #666;
    font-size: 14px;
}
.buttonicon-codepad_buttons_push:before {
    content: "\f058";
    font-family: FontAwesome;
    color: #666;
    font-size: 14px;
}