body {
    font-family: monospace;
}
.log_0 {
    color: #000;
}
.log_1 {
    color: #D00;
}
.log_2 {
    color: #00CF12;
}
.log_3 {
    color: #C2CB00;
}
.log_4 {
    color: #3100CA;
}
.log_5 {
    color#E100C6: ;
}
.log_6 {
    color: #00CBCB;
}
.log_7 {
    color: #C7C7C7;
}
.log_8 {
    color: #686868;
}
.log_9 {
    color: #FF5959;
}
.log_10 {
    color: #00FF6B;
}
.log_11 {
    color: #FAFF5C;
}
.log_12 {
    color: #775AFF;
}
.log_13 {
    color: #FF47FE;
}
.log_14 {
    color: #0FF;
}
.log_15 {
    color: #FFF;
}