/* ep_codepad theme  */
.syntaxhighlighter .plain,.syntaxhighlighter .plain a{color:#7A8CD1;}
.syntaxhighlighter .comments,.syntaxhighlighter .comments a{color:#D9D5EB;}
.syntaxhighlighter .string,.syntaxhighlighter .string a{color:#7FEED0;}
.syntaxhighlighter .keyword{color:#C797DB;}
.syntaxhighlighter .preprocessor{color:#8B86E5;}
.syntaxhighlighter .variable{color:#8DD7E8;}
.syntaxhighlighter .value{color:#E57BF4;}
.syntaxhighlighter .functions{color:#90DCCE;}
.syntaxhighlighter .constants{color:#94CAE4;}
.syntaxhighlighter .script{font-weight:bold;color:#C881F7;background-color:none;}
.syntaxhighlighter .color1,.syntaxhighlighter .color1 a{color:#8990DD;}
.syntaxhighlighter .color2,.syntaxhighlighter .color2 a{color:#6FF8DD;}
.syntaxhighlighter .color3,.syntaxhighlighter .color3 a{color:#81F9FB;}
.syntaxhighlighter .keyword{font-weight:bold;}
.syntaxhighlighter .xml .keyword{color:#D4E1E1;font-weight:normal;}
.syntaxhighlighter .xml .color1,.syntaxhighlighter .xml .color1 a{color:#9878EB;}
.syntaxhighlighter .xml .string{font-style:italic;color:#F7F8D3;}

