body {
    color: #D3D3D3;
}
.syntaxhighlighter .plain,
.syntaxhighlighter .plain a {
    color: lightgrey;
}
.syntaxhighlighter .comments,
.syntaxhighlighter .comments a {
    color: #ff7d27;
}
.syntaxhighlighter .string,
.syntaxhighlighter .string a {
    color: #ff9e7b;
}
.syntaxhighlighter .keyword {
    color: cyan;
}
.syntaxhighlighter .preprocessor {
    color: #aec4de;
}
.syntaxhighlighter .variable {
    color: #ffaa3e;
}
.syntaxhighlighter .value {
    color: #009900;
}
.syntaxhighlighter .functions {
    color: #81cef9;
}
.syntaxhighlighter .constants {
    color: #ff9e7b;
}
.syntaxhighlighter .script {
    font-weight: bold;
    color: cyan;
    background-color: none;
}
.syntaxhighlighter .color1,
.syntaxhighlighter .color1 a {
    color: #ebdb8d;
}
.syntaxhighlighter .color2,
.syntaxhighlighter .color2 a {
    color: #ff7d27;
}
.syntaxhighlighter .color3,
.syntaxhighlighter .color3 a {
    color: #aec4de;
}