body {
    color: #F34144;
    background-color: #000000;
}
/* ep_codepad themes by LaKing */

.syntaxhighlighter .plain,
.syntaxhighlighter .plain a {
    color: #DDDD25;
}
.syntaxhighlighter .comments,
.syntaxhighlighter .comments a {
    color: #135981;
}
.syntaxhighlighter .string,
.syntaxhighlighter .string a {
    color: #EEEEEE;
}
.syntaxhighlighter .keyword {
    color: #C2676E;
}
.syntaxhighlighter .preprocessor {
    color: #DA1171;
}
.syntaxhighlighter .variable {
    color: #A8A810;
}
.syntaxhighlighter .value {
    color: #B9DCF9;
}
.syntaxhighlighter .functions {
    color: #13D78D;
}
.syntaxhighlighter .constants {
    color: #12315F;
}
.syntaxhighlighter .script {
    font-weight: bold;
    color: #14F115;
    background-color: none;
}
.syntaxhighlighter .color1,
.syntaxhighlighter .color1 a {
    color: #CCA1E5;
}
.syntaxhighlighter .color2,
.syntaxhighlighter .color2 a {
    color: #AF837A;
}
.syntaxhighlighter .color3,
.syntaxhighlighter .color3 a {
    color: #9611FB2;
}
.syntaxhighlighter .keyword {
    font-weight: bold;
}
.syntaxhighlighter .xml .keyword {
    color: #123C91;
    font-weight: normal;
}
.syntaxhighlighter .xml .color1,
.syntaxhighlighter .xml .color1 a {
    color: #DB8CB9;
}
.syntaxhighlighter .xml .string {
    font-style: italic;
    color: #D08211;
}