body {
    color: #050505;
}
.syntaxhighlighter .plain,
.syntaxhighlighter .plain a {
    color: black;
}
.syntaxhighlighter .comments,
.syntaxhighlighter .comments a {
    color: #3f5fbf;
}
.syntaxhighlighter .string,
.syntaxhighlighter .string a {
    color: #2a00ff;
}
.syntaxhighlighter .keyword {
    color: #7f0055;
}
.syntaxhighlighter .preprocessor {
    color: #646464;
}
.syntaxhighlighter .variable {
    color: #aa7700;
}
.syntaxhighlighter .value {
    color: #009900;
}
.syntaxhighlighter .functions {
    color: deeppink;
}
.syntaxhighlighter .constants {
    color: #0066cc;
}
.syntaxhighlighter .script {
    font-weight: bold;
    color: #7f0055;
    background-color: none;
}
.syntaxhighlighter .color1,
.syntaxhighlighter .color1 a {
    color: grey;
}
.syntaxhighlighter .color2,
.syntaxhighlighter .color2 a {
    color: deeppink;
}
.syntaxhighlighter .color3,
.syntaxhighlighter .color3 a {
    color: red;
}
.syntaxhighlighter .keyword {
    font-weight: bold;
}
.syntaxhighlighter .xml .keyword {
    color: #3f7f7f;
    font-weight: normal;
}
.syntaxhighlighter .xml .color1,
.syntaxhighlighter .xml .color1 a {
    color: #7f007f;
}
.syntaxhighlighter .xml .string {
    font-style: italic;
    color: #2a00ff;
}