/*
colors used are:
#FCFAEE
#9D9D98
#6D6E6D
#555757
#494B4C
#434547
#404244
#3F4143
*/

body {
    background-color: #1F2021;
    font-family: monospace;
}
#outerdocbody {
    background-color: #1F2021;
}
#innerdocbody {
    background-color: #1F2021;
}
#sidediv {
    background-color: #404244;
}
.sidedivdelayed {
    color: #9D9D98 !important;
}
.toolbar {
    background-color: #434547;
}
/* extracted from pad.css */

#users {
    background: #434547;
    background: -webkit-linear-gradient(#555757, #494B4C);
    background: -moz-linear-gradient(#555757, #494B4C);
    background: -ms-linear-gradient(#555757, #494B4C);
    background: -o-linear-gradient(#555757, #494B4C);
    background: linear-gradient(#555757, #494B4C);
    color: #FCFAEE;
    border: 1px solid #555757;
}
.toolbar {
    background: #434547;
    background: -webkit-linear-gradient(#555757, #1F2021 80%);
    background: -moz-linear-gradient(#555757, #1F2021 80%);
    background: -o-linear-gradient(#555757, #1F2021 80%);
    background: -ms-linear-gradient(#555757, #1F2021 80%);
    background: linear-gradient(#555757, #1F2021 80%);
    border-bottom: 1px solid #1F2021;
}
#usericon a #online_count {
    color: #494B4C;
}
#editorloadingbox {
    color: #555757;
}
#myswatchbox {
    border: 1px solid #3F4143;
}
#mycolorpicker {
    background: #9D9D98;
    border: 1px solid #6D6E6D;
}
#mycolorpickersave,
#mycolorpickercancel {
    background: #555757;
    background: -webkit-linear-gradient(#6D6E6D, #555757);
    background: -moz-linear-gradient(#6D6E6D, #555757);
    background: -o-linear-gradient(#6D6E6D, #555757);
    background: -ms-linear-gradient(#6D6E6D, #555757);
    background: linear-gradient(#6D6E6D, #555757);
    border: 1px solid #6D6E6D;
    color: #FCFAEE;
}
#mycolorpickerpreview {
    color: #FCFAEE;
}
#myusernameedit {
    color: #FCFAEE;
}
#myusernameform input.editable {
    border: 1px solid #434547
}
#myuser .myusernameedithoverable {
    background: #3F4143;
    color: #FCFAEE;
}
#myuser .myusernameedithoverable:hover {
    background: #FCFAEE;
    color: #3F4143;
}
#mystatusedit {
    color: #494B4C;
    border: 1px solid #6D6E6D;
}
#myusernameform .editactive,
#myusernameform .editempty {
    border-left: 1px solid #6D6E6D;
    border-top: 1px solid #6D6E6D;
    border-right: 1px solid #494B4C;
    border-bottom: 1px solid #494B4C;
    color: #3F4143;
}
#myusernameform .editempty {
    background: #FCFAEE;
    color: #404244
}
#myswatchbox,
#myusernameedit,
#otheruserstable .swatch {
    border: 1px solid #434547 !important;
    color: #404244;
}
#nootherusers {
    color: #494B4C;
}
#nootherusers a {
    color: #494B4C
}
#otheruserstable td {
    color: #FCFAEE;
}
#otheruserstable .swatch {
    border: 1px solid #3F4143;
}
.usertdname {
    color: #434547;
}
.usertdstatus {
    color: #555757;
}
.usertdactivity {
    color: #494B4C;
}
.usertdname input {
    border: 1px solid #6D6E6D;
}
.usertdname input.editactive,
.usertdname input.editempty {
    background: #FCFAEE;
    border-left: 1px solid #6D6E6D;
    border-top: 1px solid #6D6E6D;
    border-right: 1px solid #494B4C;
    border-bottom: 1px solid #494B4C;
}
.usertdname input.editempty {
    color: #494B4C;
}
#chatbox {
    background-color: #9D9D98;
    border-left: 1px solid #555757;
    border-right: 1px solid #555757;
    border-top: 1px solid #555757;
}
#chattext {
    background-color: #494B4C;
    border: 1px solid #494B4C;
    color: #FCFAEE;
}
#chatlabel {
    color: #434547;
}
#chatinput {
    border: 1px solid #6D6E6D;
}
#chaticon {
    border-left: 1px solid #555757;
    border-right: 1px solid #555757;
    border-top: 1px solid #555757;
    background-color: #FCFAEE;
}
#chatcounter {
    color: #494B4C;
}
#titlebar {
    color: #434547;
}
#titlesticky {
    color: #434547;
}
#titlecross {
    color: #434547;
}
.time {
    color: #404244;
}
.exporttype {
    color: #FCFAEE;
}
#importmessageabiword {
    color: #555757;
}
#chatthrob {
    background-color: #3F4143;
    color: #FCFAEE;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.7);
}
#focusprotector {
    background-color: #FCFAEE;
}
#online_count {
    color: #494B4C;
}
.popup {
    border: 1px solid #494B4C;
    background: #434547;
    background: -webkit-linear-gradient(#6D6E6D, #555757);
    background: -moz-linear-gradient(#6D6E6D, #555757);
    background: -ms-linear-gradient(#6D6E6D, #555757);
    background: -o-linear-gradient(#6D6E6D, #555757);
    background: linear-gradient(#6D6E6D, #555757);
    -webkit-box-shadow: 0 0 8px #494B4C;
    -moz-box-shadow: 0 0 8px #494B4C;
    box-shadow: 0 2px 4px #434547;
    color: #FCFAEE;
}
.popup h1 {
    color: #9D9D98;
}
.popup h2 {
    color: #9D9D98;
}
.stickyChat {
    background-color: #555757 !important;
    border-left: 1px solid #6D6E6D !important;
}
@media all and (max-width: 400px) {
    #gritter-notice-wrapper {
        background-color: #6D6E6D;
        color: #3F4143;
    }
    .gritter-item p {
        color: #3F4143;
    }
    .gritter-title {
        color: #3F4143;
    }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 720px) {
    .toolbar ul.menu_right {
        background: #494B4C;
        background: -webkit-linear-gradient(#494B4C, #555757 80%);
        background: -moz-linear-gradient(#494B4C, #555757 80%);
        background: -o-linear-gradient(#494B4C, #555757 80%);
        background: -ms-linear-gradient(#494B4C, #555757 80%);
        background: linear-gradient(#494B4C, #555757 80%);
        border-top: 1px solid #494B4C;
    }
}
.gritter-item {
    color: #FCFAEE;
}
.gritter-title {
    text-shadow: 1px 1px 0 #3F4143;
    /* Not supported by IE :( */
}
.gritter-close {
    color: #404244;
}
.activeButton {
    background: #494B4C;
    background: -webkit-linear-gradient(#494B4C, #555757);
    background: -moz-linear-gradient(#494B4C, #555757);
    background: -o-linear-gradient(#494B4C, #555757);
    background: -ms-linear-gradient(#494B4C, #555757);
    background: linear-gradient(#494B4C, #555757);
}
#status {
    color: #FFFFFF;
    background-color: #440000;
    font-size: 2em;
}
/* search and replace */

.imputs {
    height: 21px;
}
#padsearch,
#padreplace {
    vertical-align: top;
    font-size: 16px;
    display: inline-block;
    padding: 3px;
    border: solid 1px #ccc;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    line-height: 1.25;
}
/*multi select language*/

.toolbar ul li select {
    border-radius: 0;
    width: 60px;
}
/*stuff*/

.buttonicon {
    background-image: none;
}
.line {
    color: #494B4C;
}
.term {
    color: #9D9D98;
}
a:link {
    color: #555757;
}
a:visited {
    color: #494B4C;
}
a:hover {
    color: #434547;
    background: #FCFAEE;
}
#innerdocbody a:visited {
    color: #555757;
}
#innerdocbody a:link {
    color: #6D6E6D;
}
/* file tree */

UL.jqueryFileTree A {
    color: #9D9D98;
}
UL.jqueryFileTree A:hover {
    color: #434547;
    background: #FCFAEE;
}
/* global static additions */

#myusernameform input.editable {
    font-size: 2em;
}
#innerdocbody {
    font-size: 14px;
    line-height: 18px;
}
/* hint and curly braces */

.warn {
    background-color: #511;
}
.missing {
    background-color: #600;
}
.active {
    background-color: #070;
    color: #FFA;
    font-weight: bold;
}
.padsearch_line {
    background-color: #008;
}
.padsearch_term {
    background-color: #080;
    color: #FFF;
    font-weight: bold;
}
/* default text color*/

body {
    color: #DEF;
}
/* selection */

::-moz-selection {
    background: rgba(255, 255, 125, 0.99);
    color: #032764;
}
::-webkit-selection {
    background: rgba(255, 255, 125, 0.99);
    color: #032764;
}
::selection {
    background: rgba(255, 255, 125, 0.99);
    color: #032764;
}
/* LANGUAGES */

/* Javascript */

.hljs-keyword {
    color: #9F90E1;
    font-weight: bold;
}
.hljs-keywords {
    color: #9B95B2;
}
.hljs-comment {
    color: #BF9A82;
}
.hljs-number {
    color: #99915D;
}
.hljs-literal {
    color: #BEF6DF;
}
.hljs-built_in {
    color: #A3DC71;
}
.hljs-string {
    color: #DD9EAF;
}
.hljs-regex {
    color: #AD7070;
}
.hljs-regexp {
    color: #F0B66F;
}
.hljs-function {
    color: #A6F6BD;
}
.hljs-title {
    color: #7EDEAA;
}
.hljs-params {
    color: #E4915E;
}
.hljs-pi {
    color: #7473CB;
}
/* +html+css */

.hljs-tag {
    color: #7CC8C7;
}
.hljs-id {
    color: #6B7DC3;
}
.hljs-class {
    color: #D4B187;
}
.hljs-at_rule {
    color: #BB81DE;
}
.hljs-attr_selector {
    color: #7CD1ED;
}
.hljs-pseudo {
    color: #8794BD;
}
.hljs-rule {
    color: #B6B2B9;
}
.hljs-rules {
    color: #90AACE;
}
.hljs-attribute {
    color: #D3DE6A;
}
.hljs-value {
    color: #E7D788;
}
.hljs-hexcolor {
    color: #9BEDD8;
}
.hljs-important {
    color: #7A679B;
}
.hljs-doctype {
    color: #E4A370;
}
.hljs-cdata {
    color: #E982D1;
}
/* Other languages */

.hljs-addition {
    color: #F157BC;
}
.hljs-annotation {
    color: #AA4379;
}
.hljs-argument {
    color: #47C4B8;
}
.hljs-array {
    color: #C76133;
}
.hljs-begin-block {
    color: #8DD5F1;
}
.hljs-blockquote {
    color: #DF83A2;
}
.hljs-body {
    color: #5570ED;
}
.hljs-bullet {
    color: #BC214E;
}
.hljs-cbracket {
    color: #503DE8;
}
.hljs-cell {
    color: #736D38;
}
.hljs-change {
    color: #D0B149;
}
.hljs-char {
    color: #973A50;
}
.hljs-chunk {
    color: #D38AEC;
}
.hljs-code {
    color: #499267;
}
.hljs-collection {
    color: #334B61;
}
.hljs-command {
    color: #CA7E9F;
}
.hljs-commands {
    color: #A5157C;
}
.hljs-constant {
    color: #9788A3;
}
.hljs-container {
    color: #CAA5A6;
}
.hljs-dartdoc {
    color: #967B57;
}
.hljs-date {
    color: #331756;
}
.hljs-decorator {
    color: #3D9AF5;
}
.hljs-default {
    color: #E7C6D6;
}
.hljs-deletion {
    color: #986F94;
}
.hljs-emphasis {
    color: #A8C67D;
}
.hljs-end-block {
    color: #AC8FA7;
}
.hljs-envvar {
    color: #34AD61;
}
.hljs-expression {
    color: #8874FA;
}
.hljs-filename {
    color: #7917DF;
}
.hljs-filter {
    color: #D0A134;
}
.hljs-flow {
    color: #673BCC;
}
.hljs-foreign {
    color: #7A5BE4;
}
.hljs-formula {
    color: #A25D43;
}
.hljs-func {
    color: #F0887C;
}
.hljs-function_name {
    color: #41C68D;
}
.hljs-generics {
    color: #7397D9;
}
.hljs-header {
    color: #9BD484;
}
.hljs-horizontal_rule {
    color: #3FB096;
}
.hljs-import {
    color: #C28B81;
}
.hljs-infix {
    color: #6637C4;
}
.hljs-inheritance {
    color: #BACC5D;
}
.hljs-input {
    color: #893AC1;
}
.hljs-javadoc {
    color: #857384;
}
.hljs-javadoctag {
    color: #4F50BC;
}
.hljs-label {
    color: #355F36;
}
.hljs-link_label {
    color: #E74E3A;
}
.hljs-link_reference {
    color: #B9903C;
}
.hljs-link_url {
    color: #4A2DA1;
}
.hljs-list {
    color: #3E4443;
}
.hljs-localvars {
    color: #954560;
}
.hljs-long_brackets {
    color: #C5B6D3;
}
.hljs-matrix {
    color: #5733F7;
}
.hljs-module {
    color: #A02A9A;
}
.hljs-operator {
    color: #9B95B2;
}
.hljs-output {
    color: #F591A8;
}
.hljs-package {
    color: #541ED1;
}
.hljs-param {
    color: #C497BF;
}
.hljs-parameter {
    color: #5054A6;
}
.hljs-parent {
    color: #B9CF3B;
}
.hljs-phpdoc {
    color: #C154DD;
}
.hljs-pod {
    color: #B1AFA9;
}
.hljs-pp {
    color: #57B046;
}
.hljs-pragma {
    color: #4570B4;
}
.hljs-preprocessor {
    color: #36FF58;
}
.hljs-prompt {
    color: #925A75;
}
.hljs-property {
    color: #E12A67;
}
.hljs-quoted {
    color: #D8BFDC;
}
.hljs-record_name {
    color: #D383E4;
}
.hljs-request {
    color: #921941;
}
.hljs-reserved {
    color: #EF44D7;
}
.hljs-rest_arg {
    color: #9E313E;
}
.hljs-shader {
    color: #717BF6;
}
.hljs-shading {
    color: #61D3C4;
}
.hljs-shebang {
    color: #341BA7;
}
.hljs-special {
    color: #7C7F4C;
}
.hljs-sqbracket {
    color: #3A7ED0;
}
.hljs-status {
    color: #C4DCEB;
}
.hljs-stl_container {
    color: #35D99C;
}
.hljs-stream {
    color: #923560;
}
.hljs-strong {
    color: #A34DF6;
}
.hljs-sub {
    color: #73D540;
}
.hljs-subst {
    color: #A95859;
}
.hljs-summary {
    color: #B06B7A;
}
.hljs-symbol {
    color: #91C5F9;
}
.hljs-template_comment {
    color: #3361E3;
}
.hljs-template_tag {
    color: #7CACF7;
}
.hljs-type {
    color: #599AC9;
}
.hljs-typedef {
    color: #703772;
}
.hljs-typename {
    color: #C1CC5C;
}
.hljs-var_expand {
    color: #3BCBD3;
}
.hljs-variable {
    color: #70E3AB;
}
.hljs-winutils {
    color: #83CE71;
}
.hljs-xmlDocTag {
    color: #A571E8;
}
.hljs-yardoctag {
    color: #3C97C0;
}