/*Nothing to do*/

#status {
    color: #000;
    background-color: #FFAAAA;
    font-size: 2em;
}
/* search and replace */

.imputs {
    height: 21px;
}
#padsearch,
#padreplace {
    vertical-align: top;
    font-size: 16px;
    display: inline-block;
    padding: 3px;
    border: solid 1px #ccc;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    line-height: 1.25;
}
/*multi select language*/

.toolbar ul li select {
    border-radius: 0;
    width: 60px;
}
/*stuff*/

.buttonicon {
    background-image: none;
}
.line {
    color: #C7C09F;
}
.term {
    color: #C2AFC6;
}
a:link {
    color: #0000FF;
}
a:visited {
    color: #3333FF;
}
a:hover {
    color: #2222FF;
    background: #EEEEEE;
}
/* file tree */

UL.jqueryFileTree A {
    color: #125;
}
UL.jqueryFileTree A:hover {
    color: #333;
    background: #EEE;
}
/* global static additions */

#myusernameform input.editable {
    font-size: 2em;
}
/* hint and curly braces */

.warn {
    background-color: #511;
}
.missing {
    background-color: #600;
}
.active {
    background-color: #000;
    color: #FFA;
    font-weight: bold;
}
.padsearch_line {
    background-color: #008;
}
.padsearch_term {
    background-color: #080;
    color: #FFF;
    font-weight: bold;
}
/* default text color*/

body {
    color: #111;
}
/* LANGUAGES  -- TODO -- these are random colors*/

/* Javascript */

.hljs-keyword {
    color: #1A982;
    font-weight: bold;
}
.hljs-keywords {
    color: #873A21;
}
.hljs-comment {
    color: #3185C;
}
.hljs-number {
    color: #8F1270;
}
.hljs-literal {
    color: #24050F;
}
.hljs-built_in {
    color: #9B6502;
}
.hljs-string {
    color: #1B7621;
}
.hljs-regex {
    color: #8E1A4C;
}
.hljs-regexp {
    color: #3DA23F;
}
.hljs-function {
    color: #9F7C70;
}
.hljs-title {
    color: #1A2240;
}
.hljs-params {
    color: #1E2040;
}
.hljs-pi {
    color: #343F3B;
}
/* +html+css */

.hljs-tag {
    color: #0B022E;
}
.hljs-id {
    color: #090C1C;
}
.hljs-class {
    color: #07658B;
}
.hljs-at_rule {
    color: #01EA6E;
}
.hljs-attr_selector {
    color: #0310F3;
}
.hljs-pseudo {
    color: #287B76;
}
.hljs-rule {
    color: #2F7A39;
}
.hljs-rules {
    color: #F03C21;
}
.hljs-attribute {
    color: #11114D;
}
.hljs-value {
    color: #9D5186;
}
.hljs-hexcolor {
    color: #28641F;
}
.hljs-important {
    color: #2D5A44;
}
.hljs-doctype {
    color: #34A787;
}
.hljs-cdata {
    color: #85381E;
}
/* Other languages */

.hljs-addition {
    color: #0A0240;
}
.hljs-annotation {
    color: #6F604F;
}
.hljs-argument {
    color: #42531F;
}
.hljs-array {
    color: #3FA140;
}
.hljs-begin-block {
    color: #1D2044;
}
.hljs-blockquote {
    color: #EE5511;
}
.hljs-body {
    color: #15610D;
}
.hljs-bullet {
    color: #696FA6;
}
.hljs-cbracket {
    color: #3A346B;
}
.hljs-cell {
    color: #734B96;
}
.hljs-change {
    color: #3A9260;
}
.hljs-char {
    color: #7AC270;
}
.hljs-chunk {
    color: #6D244A;
}
.hljs-code {
    color: #5C4782;
}
.hljs-collection {
    color: #6B9786;
}
.hljs-command {
    color: #1C1263;
}
.hljs-commands {
    color: #B9F7A0;
}
.hljs-constant {
    color: #3A8450;
}
.hljs-container {
    color: #758A83;
}
.hljs-dartdoc {
    color: #416B28;
}
.hljs-date {
    color: #026643;
}
.hljs-decorator {
    color: #6E2F6F;
}
.hljs-default {
    color: #31912D;
}
.hljs-deletion {
    color: #908059;
}
.hljs-emphasis {
    color: #8A945F;
}
.hljs-end-block {
    color: #3D8260;
}
.hljs-envvar {
    color: #54555E;
}
.hljs-expression {
    color: #38781F;
}
.hljs-filename {
    color: #731410;
}
.hljs-filter {
    color: #698A6A;
}
.hljs-flow {
    color: #419F80;
}
.hljs-foreign {
    color: #72399B;
}
.hljs-formula {
    color: #111055;
}
.hljs-func {
    color: #722D79;
}
.hljs-function_name {
    color: #087500;
}
.hljs-generics {
    color: #7C6051;
}
.hljs-header {
    color: #108E66;
}
.hljs-horizontal_rule {
    color: #247898;
}
.hljs-import {
    color: #281CA3;
}
.hljs-infix {
    color: #78155D;
}
.hljs-inheritance {
    color: #430953;
}
.hljs-input {
    color: #31A128;
}
.hljs-javadoc {
    color: #505047;
}
.hljs-javadoctag {
    color: #116B1B;
}
.hljs-label {
    color: #799A10;
}
.hljs-link_label {
    color: #9C429A;
}
.hljs-link_reference {
    color: #426F00;
}
.hljs-link_url {
    color: #A67886;
}
.hljs-list {
    color: #8C3F45;
}
.hljs-localvars {
    color: #57235C;
}
.hljs-long_brackets {
    color: #1044A0;
}
.hljs-matrix {
    color: #053605;
}
.hljs-module {
    color: #2F1C41;
}
.hljs-operator {
    color: #424E52;
}
.hljs-output {
    color: #6EF390;
}
.hljs-package {
    color: #607806;
}
.hljs-param {
    color: #813154;
}
.hljs-parameter {
    color: #A13652;
}
.hljs-parent {
    color: #51419B;
}
.hljs-phpdoc {
    color: #8C394E;
}
.hljs-pod {
    color: #1C333F;
}
.hljs-pp {
    color: #F23036;
}
.hljs-pragma {
    color: #609D4D;
}
.hljs-preprocessor {
    color: #187A60;
}
.hljs-prompt {
    color: #25621A;
}
.hljs-property {
    color: #163417;
}
.hljs-quoted {
    color: #0B312B;
}
.hljs-record_name {
    color: #210813;
}
.hljs-request {
    color: #4C858B;
}
.hljs-reserved {
    color: #6E8A77;
}
.hljs-rest_arg {
    color: #6D452C;
}
.hljs-shader {
    color: #516B06;
}
.hljs-shading {
    color: #1744A7;
}
.hljs-shebang {
    color: #803D57;
}
.hljs-special {
    color: #507B1A;
}
.hljs-sqbracket {
    color: #42828C;
}
.hljs-status {
    color: #5D751A;
}
.hljs-stl_container {
    color: #930607;
}
.hljs-stream {
    color: #123A34;
}
.hljs-strong {
    color: #91A88C;
}
.hljs-sub {
    color: #6E2D4B;
}
.hljs-subst {
    color: #4692A0;
}
.hljs-summary {
    color: #1E2784;
}
.hljs-symbol {
    color: #88707D;
}
.hljs-template_comment {
    color: #463C52;
}
.hljs-template_tag {
    color: #43A533;
}
.hljs-type {
    color: #4A20A0;
}
.hljs-typedef {
    color: #252320;
}
.hljs-typename {
    color: #3F4226;
}
.hljs-var_expand {
    color: #93188B;
}
.hljs-variable {
    color: #A94BA4;
}
.hljs-winutils {
    color: #636D01;
}
.hljs-xmlDocTag {
    color: #58952B;
}
.hljs-yardoctag {
    color: #23247C;
}