<html>

<head>
    <title>Project files @
        <%=abs%>
    </title>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
    <script src="/static/plugins/ep_codepad/static/js/jquery.js" type="text/javascript"></script>
    <script src="/static/plugins/ep_codepad/static/js/cookies.js" type="text/javascript"></script>
    <link href="/static/plugins/ep_codepad/static/css/logView.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="/static/plugins/ep_codepad/static/css/font-awesome.css" rel="stylesheet" type="text/css" media="screen" />
    <style type="text/css">
        i {
            font-style: normal;
        }
        #logView {
            height: 91%;
        }
        header {
            margin: 0;
            height: 50px;
        }
        form {
            float: left;
            margin: 12px 0 12px 0;
            width: 600px;
        }
        .row {
            width: 50px;
        }
        #themesmenu,
        .files,
        .padmin,
        .log {
            float: right;
            margin: 2px 0 12px 0;
            padding: 1px 4px 1px 4px;
            font-size: 18px;
            background: linear-gradient(#333, #aaa, #333);
        }
        .files,
        .padmin,
        .log {
            background: linear-gradient(#333, #aaa, #333);
            border: outset 1px #333;
            cursor: pointer;
        }
        .files {
            margin-right: 10px;
        }
    </style>
    <script type="text/javascript">
        var theme = '<%=theme%>';
        if (getCookie("codepad_theme") != '') theme = getCookie("codepad_theme");
        document.write('<link rel="stylesheet" type="text/css" href="/static/plugins/ep_codepad/static/css/aceTheme' + theme + '.css">');

        $(document).ready(function() {
            var thb = document.getElementById("themesmenu");
            for (var k = 1; k < thb.options.length; k++) {
                if (theme == thb.options[k].value) thb.options[k].selected = true;
            }
        });

        function searchAction() {
            var sr = document.getElementById("search");
            if (sr.value != '') $('#logView').attr('src', '/sr?search=' + sr.value);
        }

        function replaceAction() {
            var sr = document.getElementById("search");
            var of = document.getElementById("offer");
            if (sr.value != '') $('#logView').attr('src', '/sr?search=' + sr.value + '&offer=' + of.value);
        }
    </script>

</head>
<!-- <i class="fa-caret" ></i> Így kell megadni egy gomb vagy kép elérését <input id="row" type="number" class="row" id="row" value="0"> -->

<body id="codepadbody">
    <div id="codepaddiv">
        <header>
            <div id='form'>
                <input id="search" type="text" class="sr" placeholder="search">
                <button onclick="return searchAction();">Search</button>
                <input id="offer" type="text" class="sr" placeholder="replace">
                <button onclick="return replaceAction();">Replace</button>
            </div>

            <span class="files" onclick="window.open('/files', 'files');"><i class="fa-pencil"></i></span>
            <span class="padmin" onclick="window.open('/admin/pads', 'padmin');"><i class="fa-sitemap"></i></span>
            <span class="log" onclick="window.open('/log', 'log');"><i class="fa-eye"></i></span>

            <select id="themesmenu" onchange="setCookie('codepad_theme',this.options[this.selectedIndex].value); window.location.reload();">
                <option value="Default">Default</option>
                <option value="Eclipse">Eclipse</option>
                <option value="Cobalt">Cobalt</option>
                <option value="Bordoux">Bordoux</option>
                <option value="Ocean">Ocean</option>
                <option value="Django">Django</option>
                <option value="Emacs">Emacs</option>
                <option value="FadeToGrey">FadeToGrey</option>
                <option value="MDUltra">MDUltra</option>
                <option value="Midnight">Midnight</option>
                <option value="RDark">R_Dark</option>
                <option value="BlackMonday">BlackMonday</option>
                <option value="New">New</option>
            </select>
        </header>
    </div>
    <iframe id="logView" class="logView" src="/log"></iframe>

</body>

</ht