<link rel="stylesheet" href="../static/plugins/ep_codepad/static/css/font-awesome.min.css">
<style type="text/css">
    #codepad-inner {
        position: relative;
        max-width: 300px;
        margin: 0 auto;
        padding: 15px;
    }
</style>

<script src="../static/plugins/ep_codepad/static/js/jquery.js " type="text/javascript "></script>
<script src="../static/plugins/ep_codepad/static/js/cookies.js " type="text/javascript "></script>

<div id="codepad-inner">
    <br />
    <div id="button" onclick="window.location='/files'" data-l10n-id="index.codepad "><i class="fa fa-files-o"></i> files
    </div>
    <br />Choose your theme!
    <select id="themesmenu" onchange="setCookie('codepad_theme',this.options[this.selectedIndex].value);">
        <option value="Default">Default</option>
    </select>
</div>

</div>
