<li id="syntaxhighlighting" style="width: auto; background: #fff;">
    <select id="syntaxes" onchange="require('ep_etherpad-lite/static/js/pad_cookie').padcookie.setPref('SH_BRUSH', this.options[this.selectedIndex].value); window.location.reload();">
      <option value="none">None</option>
      <option value="auto" selected>Auto</option>
      <option value="js">Javascript</option>
      <option value="java">Java</option>
      <option value="ruby">Ruby</option>
      <option value="php">Php</option>
      <option value="css">Css</option>
      <option value="cpp">Cpp</option>
      <option value="sql">Sql</option>
      <option value="sass">Sass</option>
      <option value="python">Python</option>
      <option value="as3">AS3</option>
      <option value="bash">Bash</option>
      <option value="xml">Xml</option>
      <option value="perl">Perl</option>
      <option value="tap">TAP</option>
      <option value="scala">Scala</option>
      <option value="groovy">Groovy</option>
      <option value="erlang">Erlang</option>
      <option value="vb">Vb</option>
      <option value="javafx">JavaFX</option>
      <option value="csharp">CSharp</option>
      <option value="haxe">Haxe</option>
      <option value="typescript">TypeScript</option>
      <option value="applescript">AppleScript</option>
      <option value="powershell">PowerShell</option>
      <option value="delphi">Delphi</option>
      <option value="coldfusion">ColdFusion</option>
      <option value="diff">Diff</option>
    </select>
</li>
<li class="separator"></li>