<tr>
    <td>
        <label for="themesmenu">Theme:</label>
    </td>
    <td>
        <select id="themesmenu" onchange="setCookie('codepad_theme',this.options[this.selectedIndex].value); window.location.reload();">
            <option value="Default">Default</option>
            <option value="Eclipse">Eclipse</option>
            <option value="Cobalt">Cobalt</option>
            <option value="Bordoux">Bordoux</option>
            <option value="Ocean">Ocean</option>
            <option value="Django">Django</option>
            <option value="Emacs">Emacs</option>
            <option value="FadeToGrey">FadeToGrey</option>
            <option value="MDUltra">MDUltra</option>
            <option value="Midnight">Midnight</option>
            <option value="RDark">R_Dark</option>
            <option value="BlackMonday">BlackMonday</option>
            <option value="New">New</option>
        </select>
    </td>
</tr>


